* {
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    background-color: #fff;

}
.wrapper    {
    height: 100vh;
}
.container {
    padding: 6%;
}
input::placeholder {
    font-size: 1rem
}

.join_us {
    text-align: center;
    color: gray;
}



.matched {
    color: green;
}
.NotMatched {
    color: red;
}

/* User Profile START*/
/*not necessary*/
@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,400,600,700');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");





/*not necessary*/


.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#007bff;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #007bff;
    text-align: center;
    border: 1px solid #007bff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#007bff;
  color:#fff;
}

li {
    list-style-type: none;
}
a {
    color: black;
}
.regi-cards {
    margin: 1%;
}
.car-wrapper-title {
    text-align: center;
padding: 1%;
margin: revert;
background-color: #1f50c412;
color: #007bff;
border-radius: 7px;
font-weight: revert;
}
.container-row {
    border: 1px solid black;
}
.col-md-8 {
     
}
.user-pro-title{
    text-align: center;
padding: 4%;
margin: revert;
background-color: #1f50c40a;
color: #007bff;
border-radius: 6px;
font-weight: revert;
font-size: 1.66rem; 
}
/* User Profile END*/




.details-user {
    padding: 20px !important;
}


/*Adding map and Customized START */
#map {
    width: 90%;
    height: 600px;
    margin: auto;
}
.containerMapPage {
    width: 100%;
    padding: 5%;
}
/*Adding map and Customized END */
